<!-- Cover section -->
<tr>
  <td class="cover">
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      role="presentation"
    >
      <tr>
        <td
          align="center"
          class="cover__wrap full-width"
          style="border-radius: 6px"
        >
          <img
            src=""
            width="600"
            alt="#"
            border="0"
            style="border-radius: 6px"
          />
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Cover section -->
