<!-- Footer section -->
<tr>
  <td class="footer bg-dark" style="padding-top: 28px; padding-bottom: 40px">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td class="footer__wrap" style="padding-bottom: 10px">
          <p style="font-size: 12px; line-height: normal; text-align: center">
            © Octo Browser LLC, 2020-2023.
          </p>
        </td>
      </tr>
      <tr>
        <td class="footer__wrap" style="text-align: center">
          <span style="font-size: 12px; line-height: normal"
            >Отписаться
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="
                font-size: 12px;
                line-height: normal;
                font-weight: 400;
                color: #6cacd0;
              "
            >
              здесь
            </a>
          </span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Footer section -->
